// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

body {
    font-family: "Lato", sans-serif;
}

#app {
    margin: 0 auto;
}

.fc-media-screen {
    min-width: 360px;
}
